<?xml version="1.0"?>
<config>
    <modules>
        <Tejar_Captcha>
            <version>2.2.0</version>
            <depends>
                <Mage_Captcha/>
            </depends>
        </Tejar_Captcha>
    </modules>
    <global>
        <blocks>
            <tejar_captcha>
                <class>Tejar_Captcha_Block</class>
            </tejar_captcha>
        </blocks>
        <helpers>
            <tejar_captcha>
                <class>Tejar_Captcha_Helper</class>
            </tejar_captcha>
        </helpers>
        <models>
            <tejar_captcha>
                <class>Tejar_Captcha_Model</class>
            </tejar_captcha>
            <captcha>
                <rewrite>
                    <zend>Tejar_Captcha_Model_Zend</zend>
                </rewrite>
            </captcha>
        </models>
		<events>
            <controller_action_predispatch_customer_account_loginpost>
                <observers>
                    <captcha>
                        <class>tejar_captcha/observer</class>
                        <method>checkUserLogin</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_customer_account_loginpost>
            <controller_action_predispatch_customer_account_forgotpasswordpost>
                <observers>
                    <captcha>
                        <class>tejar_captcha/observer</class>
                        <method>checkForgotPassword</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_customer_account_forgotpasswordpost>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <captcha>
                        <class>tejar_captcha/observer</class>
                        <method>checkUserCreate</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
        </events>
    </global>
	<frontend>
        <layout>
            <updates>
                <tejar_captcha>
                    <file>tejar_captcha.xml</file>
                </tejar_captcha>
            </updates>
        </layout>
        <translate>
            <modules>
                <Tejar_Captcha>
                    <files>
                        <default>Tejar_Captcha.csv</default>
                    </files>
                </Tejar_Captcha>
                <!-- Magento forgot to add this to Mage_Captcha's config.xml -->
                <Mage_Captcha>
                    <files>
                        <default>Mage_Captcha.csv</default>
                    </files>
                </Mage_Captcha>
            </modules>
        </translate>
    </frontend>
    <default>
		<customer>
            <captcha>
				<always_for>
					<contact_page_captcha>1</contact_page_captcha>
					<newsletter_captcha>1</newsletter_captcha>
				</always_for>
			</captcha>
        </customer>
	</default>
</config>
