<?xml version="1.0"?>
<config>
	<sections>
		<customer>
			<groups>
				<captcha translate="label">
                    <show_in_store>1</show_in_store>
					<fields>
						<exception translate="label">
							<label>Exception</label>
							<frontend_type>text</frontend_type>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</exception>
						<recaptcha_enable translate="label">
							<label>Enable ReCaptcha</label>
							<comment>If Enable this option overwrite default captcha.</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</recaptcha_enable>
						<public_key translate="label">
							<label>Site Key (Public Key)</label>
							<frontend_type>text</frontend_type>
							<sort_order>11</sort_order>
							<depends>
								<recaptcha_enable>1</recaptcha_enable>
							</depends>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</public_key>
						<private_key translate="label">
							<label>Secret Key (Private Key)</label>
							<frontend_type>text</frontend_type>
							<sort_order>12</sort_order>
							<depends>
								<recaptcha_enable>1</recaptcha_enable>
							</depends>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</private_key>
					</fields>
				</captcha>
			</groups>
		</customer>
	</sections>
</config>
