# Ignore everything
/*
/*/

# But not these files and folders...
!.gitignore
!.htaccess
!phpinfo.php
!temp
!.DS_Store

!app/
app/*
!app/code/
app/code/*
!app/code/local
app/code/local/*
!app/code/local/Tejar
!app/design/
app/design/*
!app/design/frontend
app/design/frontend/*
!app/design/frontend/intenso
app/design/frontend/intenso/*
!app/design/frontend/intenso/tejar
!app/design/frontend/intenso/tejar-mobile
!app/design/frontend/intenso/tejar-tablet
!app/design/adminhtml
app/design/adminhtml/*
!app/design/adminhtml/default
app/design/adminhtml/default/*
!app/design/adminhtml/default/tejar_admin
!app/etc/
app/etc/*
!app/etc/modules


# !/dev/
# !dev/*
!dev/
!downloader/
!errors/
!includes/
!js/
!lib/
!shell/
!skin/
