# Ignore everything
/*
/*/

# But not these files and folders...
!.gitignore
!.htaccess
!phpinfo.php
!temp
!.DS_Store
#For app directory
# !app/
# app/*
# !app/code/
# app/code/*
# !app/code/local
# app/code/local/*
# !app/code/local/Tejar
!app/design/
app/design/*
!app/design/frontend
app/design/frontend/*
!app/design/frontend/intenso
app/design/frontend/intenso/*
!app/design/frontend/intenso/tejar
!app/design/frontend/intenso/tejar-mobile
!app/design/frontend/intenso/tejar-tablet
!app/design/adminhtml
app/design/adminhtml/*
!app/design/adminhtml/default
app/design/adminhtml/default/*
!app/design/adminhtml/default/tejar_admin
!app/etc/
app/etc/*
!app/etc/modules

#Exclude all sql directories in app folder
/app/**/sql/

#For skins directory        
!skin/
skin/*
!skin/adminhtml/
app/adminhtml/*
!skin/adminhtml/default
app/adminhtml/default/*
!skin/adminhtml/default/tejar_admin
!skin/frontend/
app/frontend/*
!skin/frontend/intenso
app/frontend/intenso/*
!skin/frontend/intenso/tejar
!skin/frontend/intenso/tejar-mobile
!skin/frontend/intenso/tejar_tablet

# !/dev/
# !dev/*
!dev/
!downloader/
!errors/
!includes/
!js/
!lib/
!shell/
