<config>
	<modules>
		<Tejar_Adminhtml>
		<version>0.9.0</version>
		</Tejar_Adminhtml>
	</modules>
	<global>
		<helpers>
			<tejar_adminhtml>
				<class>Tejar_Adminhtml_Helper</class>
			</tejar_adminhtml>
		</helpers>
		<models>
			<tejar_adminhtml>
				<class>Tejar_Adminhtml_Model</class>
			</tejar_adminhtml>
			<adminhtml>
				<rewrite>
					<system_config_source_catalog_listSort>Tejar_Adminhtml_Model_System_Config_Source_Catalog_ListSort</system_config_source_catalog_listSort>
				</rewrite>
			</adminhtml>
		</models>
		<blocks>
			<tejar_adminhtml>
				<class>Tejar_Adminhtml_Block</class>
			</tejar_adminhtml>
			<adminhtml>
				<rewrite>
					<!--<sales_order_create_billing_method_form>Tejar_Adminhtml_Block_Sales_Order_Create_Billing_Method_Form</sales_order_create_billing_method_form>-->
				</rewrite>
				<rewrite>
					<newsletter_subscriber_grid>Tejar_Adminhtml_Block_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
					<catalog_product_grid>Tejar_Adminhtml_Block_Catalog_Product_Grid</catalog_product_grid>
					<catalog_product_edit>Tejar_Adminhtml_Block_Catalog_Product_Edit</catalog_product_edit>
					<catalog_product_attribute_set_main>Tejar_Adminhtml_Block_Catalog_Product_Attribute_Set_Main</catalog_product_attribute_set_main>
					<catalog_product_attribute_edit>Tejar_Adminhtml_Block_Catalog_Product_Attribute_Edit</catalog_product_attribute_edit>
					<catalog_category_edit_form>Tejar_Adminhtml_Block_Catalog_Category_Edit_Form</catalog_category_edit_form>
					<catalog_category_tree>Tejar_Adminhtml_Block_Catalog_Category_Tree</catalog_category_tree>
					<catalog_product_edit_tab_super_config_grid>Tejar_Adminhtml_Block_Catalog_Product_Edit_Tab_Super_Config_Grid</catalog_product_edit_tab_super_config_grid>
					<catalog_category_tab_product>Tejar_Adminhtml_Block_Catalog_Category_Tab_Product</catalog_category_tab_product>
					<customer_grid>Tejar_Adminhtml_Block_Customer_Grid</customer_grid>
					<catalog_product_attribute>Tejar_Adminhtml_Block_Catalog_Product_Attribute</catalog_product_attribute>
					<catalog_product_attribute_grid>Tejar_Adminhtml_Block_Catalog_Product_Attribute_Grid</catalog_product_attribute_grid>
					<catalog_product_edit_tab_super_config>Tejar_Adminhtml_Block_Catalog_Product_Edit_Tab_Super_Config</catalog_product_edit_tab_super_config>
					<catalog_product_edit_tab_related>Tejar_Adminhtml_Block_Catalog_Product_Edit_Tab_Related</catalog_product_edit_tab_related>
					<catalog_product_edit_tab_crosssell>Tejar_Adminhtml_Block_Catalog_Product_Edit_Tab_Crosssell</catalog_product_edit_tab_crosssell>
					<catalog_product_edit_tab_upsell>Tejar_Adminhtml_Block_Catalog_Product_Edit_Tab_Upsell</catalog_product_edit_tab_upsell>
					<catalog_product_edit_tab_super_config_simple>Tejar_Adminhtml_Block_Catalog_Product_Edit_Tab_Super_Config_Simple</catalog_product_edit_tab_super_config_simple>
					<catalog_product_helper_form_price>Tejar_Adminhtml_Block_Catalog_Product_Helper_Form_Price</catalog_product_helper_form_price>
				</rewrite>
				<rewrite>
					<sales_order_invoice_view>Tejar_Adminhtml_Block_Sales_Order_Invoice_View</sales_order_invoice_view>
					<sales_order_shipment_view>Tejar_Adminhtml_Block_Sales_Order_Shipment_View</sales_order_shipment_view>
				</rewrite>
				<rewrite>
					<sales_order_grid>Tejar_Adminhtml_Block_Sales_Order_Grid</sales_order_grid>
					<sales_order_view>Tejar_Adminhtml_Block_Sales_Order_View</sales_order_view>
				</rewrite>
			</adminhtml>
		</blocks>
		 <events>
			<admin_system_config_changed_section_design>
				<observers>
					<Tejar_Adminhtml>
						<type>singleton</type>
						<class>Tejar_Adminhtml_Model_Observer</class>
						<method>updateSection</method>
					</Tejar_Adminhtml>
				</observers>
			</admin_system_config_changed_section_design>
			<adminhtml_catalog_product_attribute_edit_prepare_form>
				<observers>
					<Tejar_Adminhtml>
						<type>singleton</type>
						<class>Tejar_Adminhtml_Model_Observer</class>
						<method>catalogProductAttributeEditPrepareForm</method>
					</Tejar_Adminhtml>
				</observers>
			</adminhtml_catalog_product_attribute_edit_prepare_form>
			<admin_system_config_changed_section_general>
				<observers>
					<Tejar_Adminhtml>
						<type>singleton</type>
						<class>Tejar_Adminhtml_Model_Observer</class>
						<method>updateSection</method>
					</Tejar_Adminhtml>
				</observers>
			</admin_system_config_changed_section_general>
			<attributeset_save_after>
				<observers>
					<Tejar_Adminhtml>
						<type>singleton</type>
						<class>Tejar_Adminhtml_Model_Observer</class>
						<method>attributeSetAction</method>
					</Tejar_Adminhtml>
				</observers>
			</attributeset_save_after>
			<attributeset_delete_done>
				<observers>
					<Tejar_Adminhtml>
						<type>singleton</type>
						<class>Tejar_Adminhtml_Model_Observer</class>
						<method>attributeSetAction</method>
					</Tejar_Adminhtml>
				</observers>
			</attributeset_delete_done>
		</events>

	</global>
	<adminhtml>
		<events>
			<sales_order_place_after>
				<observers>
					<magepal>
						<type>singleton</type>
						<class>Tejar_Adminhtml_Model_Observer</class>
						<method>adminSalesOrderPlaceAfter</method>
					</magepal>
				</observers>
			</sales_order_place_after>
		</events>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
				  <modules>
					<Tejar_Adminhtml before="Mage_Adminhtml">Tejar_Adminhtml</Tejar_Adminhtml>
				  </modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>
