<?xml version="1.0" ?> 
  <config>
    <modules>
      <Tejar_Ajax>
        <version>0.0.1</version> 
      </Tejar_Ajax>
    </modules>
	<global>
		<helpers>
			<tejar_ajax>
                <class>Tejar_Ajax_Helper</class>
            </tejar_ajax>
		</helpers>
		<blocks>
			<tejar_ajax>
                <class>Tejar_Ajax_block</class>
            </tejar_ajax>
		</blocks>
    </global>
	 <frontend>
        <routers>
			 <tejar_ajax>
                <use>standard</use>
                <args>
                    <module>Tejar_Ajax</module>
                    <frontName>tejar_ajax</frontName>
                </args>
            </tejar_ajax>
        </routers>
		<layout>
            <updates>
                <tejar_ajax>
                    <file>tejar_ajax.xml</file>
                </tejar_ajax>
            </updates>
        </layout>
    </frontend>
  </config>