<?xml version="1.0"?>
<config>
	<modules>
        <Tejar_Sales>
            <version>0.0.1</version>
        </Tejar_Sales>
    </modules>
	<admin>
        <fieldsets>
			<order_dataflow>
				<entity_id>
                    <system>1</system>
                    <ignore>1</ignore>
                </entity_id>
				<created_at_store>
                    <system>1</system>
                </created_at_store>
				<customer_name>
                    <system>1</system>
                </customer_name>
				<customer_group_name>
                    <system>1</system>
                </customer_group_name>
				<payment_description>
                    <system>1</system>
                </payment_description>
				<prefix>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <mapped>1</mapped>
                </prefix>
                <firstname>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <required>1</required>
                    <mapped>1</mapped>
                </firstname>
                <middlename>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <mapped>1</mapped>
                </middlename>
                <lastname>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <required>1</required>
                    <mapped>1</mapped>
                </lastname>
                <suffix>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <mapped>1</mapped>
                </suffix>
                <street_full>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </street_full>
                <street1>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <street>1</street>
                </street1>
                <street2>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <street>1</street>
                </street2>
                <street3>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <street>1</street>
                </street3>
                <street4>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <street>1</street>
                </street4>
                <street5>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <street>1</street>
                </street5>
                <street6>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <street>1</street>
                </street6>
                <street7>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <street>1</street>
                </street7>
                <street8>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <street>1</street>
                </street8>
                <city>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </city>
                <region>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </region>
                <country>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <billing_required>1</billing_required>
                    <shipping_required>1</shipping_required>
                </country>
                <postcode>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <billing_required>1</billing_required>
                    <shipping_required>1</shipping_required>
                </postcode>
                <telephone>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </telephone>
                <company>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </company>
                <fax>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </fax>
			</order_dataflow>
        </fieldsets>
    </admin>
	<frontend>
		<routers>
			<sales>
				<args>
					<modules>
						<Tejar_Sales before="Mage_Sales">Tejar_Sales</Tejar_Sales>
					</modules>
				</args>
			</sales>
		</routers>
    </frontend>
    <global>
		<events>
			<sales_order_place_after>
					<observers>
						<tejar_sales>
							<class>Tejar_Sales_Model_Observer</class>
							<method>setOrderWebhook</method>
							<type>singleton</type>
						</tejar_sales>
					</observers>
			</sales_order_place_after>

			<sales_order_invoice_save_after>
				<observers>
					<update_items_specific_option>
						<type>singleton</type>
						<class>Tejar_Sales_Model_Observer</class>
						<method>setInvoiceWebhook</method>
					</update_items_specific_option>
				</observers>
			</sales_order_invoice_save_after>

			<sales_order_shipment_save_after>
				<observers>
					<update_items_specific_option>
						<type>singleton</type>
						<class>Tejar_Sales_Model_Observer</class>
						<method>setShipmentWebhook</method>
					</update_items_specific_option>
				</observers>
			</sales_order_shipment_save_after>

			<sales_order_creditmemo_save_after>
				<observers>
					<update_items_specific_option>
						<type>singleton</type>
						<class>Tejar_Sales_Model_Observer</class>
						<method>setCreditmemoWebhook</method>
					</update_items_specific_option>
				</observers>
			</sales_order_creditmemo_save_after>

			<order_cancel_after>
				<observers>
					<update_items_specific_option>
						<type>singleton</type>
						<class>Tejar_Sales_Model_Observer</class>
						<method>setCancelWebhook</method>
					</update_items_specific_option>
				</observers>
			</order_cancel_after>
				<sales_order_shipment_track_delete_after>
				<observers>
				  <track_webhook>
					<type>model</type>
					<class>Tejar_Sales_Model_Observer</class>
					<method>setTrackingDeleteWebhook</method>
				  </track_webhook>
				</observers>
			  </sales_order_shipment_track_delete_after>
		</events>
		<models>
			<tejar_sales>
				<class>Tejar_Sales_Model</class>
			</tejar_sales>
			<sales>
				<rewrite>
					<order>Tejar_Sales_Model_Order</order>
				</rewrite>
			</sales>
			<sales>
				<rewrite>
					<order_pdf_invoice>Tejar_Sales_Model_Order_Pdf_Invoice</order_pdf_invoice>
					<order_pdf_shipment>Tejar_Sales_Model_Order_Pdf_Shipment</order_pdf_shipment>
					<order_shipment>Tejar_Sales_Model_Order_Shipment</order_shipment>
					<order_invoice>Tejar_Sales_Model_Order_Invoice</order_invoice>
					<order_creditmemo>Tejar_Sales_Model_Order_Creditmemo</order_creditmemo>
					<order_pdf_creditmemo>Tejar_Sales_Model_Order_Pdf_Creditmemo</order_pdf_creditmemo>
				</rewrite>
			</sales>
		</models>
		<helpers>
			<sales>
				<rewrite>
					<guest>Tejar_Sales_Helper_Guest</guest>
                    <data>Tejar_Sales_Helper_Data</data>
				</rewrite>
			</sales>
		</helpers>
    </global>

</config>
