<?xml version="1.0" ?>
  <config>
    <modules>
      <Tejar_Core>
        <version>0.0.1</version>
      </Tejar_Core>
    </modules>
	<global>
    <!-- <helpers>
  			<core>
  				<rewrite>
  					<data>Tejar_Core_Helper_Data</data>
  				</rewrite>
  			</core>
  		</helpers> -->
    <models>
        <tejar_core>
			<class>Tejar_Core_Model</class>
		</tejar_core>
    	<core>
    		<rewrite>
    			<layout_update>Tejar_Core_Model_Layout_Update</layout_update>
    			<store>Tejar_Core_Model_Store</store>
    		</rewrite>
    	</core>
    	<directory>
    		<rewrite>
    			<currency>Tejar_Core_Model_Currency</currency>
    		</rewrite>
    	</directory>
    </models>
    </global>
	 <frontend>
		<layout>
            <updates>
                <tejar_core>
                    <file>tejar_core.xml</file>
                </tejar_core>
            </updates>
        </layout>
		<events>			
			<controller_action_predispatch_customer_account_createpost>
                <observers>
                    <tejar_core_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Core_Model_Observer</class>
                        <method>preDispatchCustomer</method>
                    </tejar_core_model_observer>
                </observers>
            </controller_action_predispatch_customer_account_createpost>		
			<controller_action_predispatch_customer_account_editPost>
                <observers>
                    <tejar_core_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Core_Model_Observer</class>
                        <method>preDispatchCustomer</method>
                    </tejar_core_model_observer>
                </observers>
            </controller_action_predispatch_customer_account_editPost>				
			<controller_action_predispatch_customer_address_formPost>
                <observers>
                    <tejar_core_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Core_Model_Observer</class>
                        <method>preDispatchCustomer</method>
                    </tejar_core_model_observer>
                </observers>
            </controller_action_predispatch_customer_address_formPost>			
			<controller_action_predispatch_contacts_index_post>
                <observers>
                    <tejar_core_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Core_Model_Observer</class>
                        <method>preDispatchCustomer</method>
                    </tejar_core_model_observer>
                </observers>
            </controller_action_predispatch_contacts_index_post>		
			<controller_action_predispatch_onestepcheckout_index_saveOrder>
                <observers>
                    <tejar_core_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Core_Model_Observer</class>
                        <method>preDispatchOneStepCheckout</method>
                    </tejar_core_model_observer>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_saveOrder>
			<controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <tejar_core_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Core_Model_Observer</class>
                        <method>preDispatchCheckout</method>
                    </tejar_core_model_observer>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>	
			<controller_action_predispatch_checkout_onepage_saveShipping>
                <observers>
                    <tejar_core_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Core_Model_Observer</class>
                        <method>preDispatchCheckout</method>
                    </tejar_core_model_observer>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShipping>	
			<controller_action_predispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <tejar_core_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Core_Model_Observer</class>
                        <method>preDispatchCheckout</method>
                    </tejar_core_model_observer>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShippingMethod>	
		</events>
    </frontend>
		<adminhtml>
		<events>
			<controller_action_predispatch_adminhtml_catalog_product_save>
                <observers>
                    <tejar_core_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Core_Model_Observer</class>
                        <method>preDispatchProduct</method>
                    </tejar_core_model_observer>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_save>
			<controller_action_predispatch_adminhtml_catalog_category_save>
                <observers>
                    <tejar_core_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Core_Model_Observer</class>
                        <method>preDispatchCategory</method>
                    </tejar_core_model_observer>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_category_save>				
			<!-- <controller_action_predispatch_adminhtml_catalog_product_attribute_save>
                <observers>
                    <tejar_core_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Core_Model_Observer</class>
                        <method>preDispatchAttributes</method>
                    </tejar_core_model_observer>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_attribute_save> -->
			<controller_action_predispatch_adminhtml_sales_order_create_save>
                <observers>
                    <tejar_core_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Core_Model_Observer</class>
                        <method>preDispatchOrder</method>
                    </tejar_core_model_observer>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_save>			
			<controller_action_predispatch_adminhtml_sales_order_addresssave>
                <observers>
                    <tejar_core_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Core_Model_Observer</class>
                        <method>preDispatchOrderAddress</method>
                    </tejar_core_model_observer>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_addresssave>				
			<controller_action_predispatch_adminhtml_sales_order_create_loadblock>
                <observers>
                    <tejar_core_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Core_Model_Observer</class>
                        <method>preDispatchOrderProduct</method>
                    </tejar_core_model_observer>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_loadblock>
		</events>
	</adminhtml>
  </config>
